.formInput{
    color: black;
    margin-left: 20px;
    padding: 7px;
    font-size: 16px;
    border-width: 2px;
    border-color: #f0605c;
    background-color: #FFFFFF;
    border-style: solid;
    border-radius: 11px;
    box-shadow: 0px 0px 5px rgba(240,96,92,.75);
    text-shadow: 0px 0px 0px rgba(66,66,66,.75);
}