.modal-content{
    background-color: #1a1a1a !important;
}

.btn-close{
    background-color: white !important;
}

.modalLabel {
    display:block;
    padding-bottom: 5px;
    padding-right: 20px;
}

.modalInput {
    color: black;
    display:block;
    padding: 7px;
    font-size: 16px;
    border-width: 2px;
    border-color: #f0605c;
    background-color: #FFFFFF;
    border-style: solid;
    border-radius: 11px;
    box-shadow: 0px 0px 5px rgba(240,96,92,.75);
    text-shadow: 0px 0px 0px rgba(66,66,66,.75);
    margin-right: auto;
    margin-left: auto;
}

.ModalBody{
    align-items: center !important;
    text-align: center;
}

.manualTransactionModal{
    width: 40vw !important;
    right: 20%
}