.paperStyle{
    background-color: rgb(62, 152, 255) !important;
    text-align: center;
    color: white !important;
    padding: 10px;
}

.flex{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.flex > div {
    margin: 10px;
}

b{
    color: white;
}